Button {
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0;
    -fx-border-width: 0;
    -fx-color: #e04020;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

CheckBox {
    -fx-text-fill: #cccccc;
}

Label {
    -fx-text-fill: #cccccc;
}

TextField, PasswordField,
TextArea{
    -fx-background-radius: 0,0;
    -fx-control-inner-background: #303030;
    -fx-text-box-border: #909090;
}
ScrollPane {
    -fx-border-color: #99ccff
}
ScrollPane:focused {
    -fx-border-color: #99ccff
}
Label {
    -fx-fill: #a0a0a0;
}
Text {
    -fx-fill: #a0a0a0;
}
Button {
    -fx-background-insets: 0,0,0;
    -fx-background-radius: 0,0;
    -fx-color: #e04020;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

CheckBox {
    -fx-text-fill: #cccccc;
}
Label {
    -fx-text-fill: #cccccc;
}
Pane{
    -fx-border-width: 0;
    -fx-border-color: #e0e0e0;
}
ToolBar {
    -fx-background: #202020;
    -fx-border-width: 0;
    -fx-border-color: #e0e0e0;
}
.root {
    -fx-background: #202020;
    -fx-border-width: 0;
    -fx-border-color: #e0e0e0;
}
